  {% set index = 1 %}
  {% for reply in replies %}
  {% set reply_author = handler.get_member(reply['author']) %}
  <div id="reply-{{ index }}" class="ui-cell reply fn-clear">
    <a href="/member/{{ reply['author'] }}" class="ui-avatar"><img src="{{ handler.get_avatar(reply_author['email']) }}" width="48", height="48"></a>
    <div class="reply-content fn-wrap">
      <div class="reply-meta">
        <a href="/member/{{ reply['author'] }}">{{ reply['author'] }}</a>
        reply at <time datetime="{{ handler.format_time(reply['create_time']) }}">{{ handler.format_time(reply['create_time']) }}</time>
         #{{index}}
      </div>
      <div class="content">
        {% raw reply['content_html'] %}
      </div>
    </div>
  </div>
{% set index += 1 %}
{% end %}
