<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% block subtitle %}{% end %}{{handler.settings['forum_title'] }}{%end%}</title>
    <link rel="stylesheet" href="{{ static_url('css/style.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/fontello/css/fontello.css')}}" type="text/css" />
    
    <link rel="canonical" href="{{ handler.settings['forum_url']}}{% block canonical %}{% end %}"/>
    <link rel="alternate" type="application/atom+xml" href={% block feed %}/feed{% end %} />
    {% block head %}{% end %}
  </head>
  <body>
    <header id="header" role="banner">
      <div class="wrapper fn-clear">
        <h1><a href="/">{{ handler.settings['forum_title']}}</a></h1>
        <div class="user-box fn-clear">
          <div class="user">
            {% if current_user %}
            <span class="icon-user-1"></span>
            <a href="/member/{{ current_user }}">{{ current_user}}</a>
          </div>
          <nav class="user-links">
            <a href="/topic/create" title="创建主题"><span class="icon-edit"></span></a>
            <a href="/account/setting" title="设置"><span class="icon-cog"></span></a>
            <a href="/account/signout" title="登出"><span class="icon-logout"></span></a>
            {% else %}
            <a href="/account/signin" title="登陆"><span class="icon-login"></span></a>
            {% end %}
          </nav>
        </div>
    </header>
    <nav id="nav" role="navigation">
      <a href="/">{{ _("Communtiy") }}</a>
      <a href="/idea">{{ _("Idea") }}</a>
      <a href="/wiki">{{ _("Wiki") }}</a>
    </nav>
    </div>
    {% set messages = handler.get_flashed_messages() %}
    {% if messages %}
    {% for category, msg in messages %}
    <div class="alert alert-{{category}}">
      {{ msg }}
    </div>
    {% end %}
    {% end %}   
    <div id="main">
      <div class="wrapper fn-clear">
        {% block main %}
        <div id="content">
          {% block content %}{% end %}
        </div>
        <div id="sidebar">
          {% block sidebar %}{% end %}
          {% module SystemStatusModule() %}
        </div>
        {% end %}
      </div>
    </div>

    <footer id="footer">
      <div class="wrapper">
        <p>Copyright &copy; {{handler.settings['forum_title']}}. All articles &copy; their respective owners.</p>
      <p class="copyright">
        Theme Design By <a href="http://lepture.com/">lepture</a>. Powered by v2dig
      </p>
      </div>
      </div>
    </footer>
  <body>
</html>
