{% extends "base.html" %}

{% block content  %}
<div class="ui-box">
  <div class="ui-box-header">
    <a href="/">V2dig </a>  » Communtiy
  </div>
  {% module TopicListModule(topics) %}
  {% module PaginatorModule(page, p) %}
</div>
{% end %}

{% block sidebar %}

<div class="ui-box">
  <div class="ui-box-header">
    <h4>{{ _("搜索") }}</h4>
  </div>
  <div class="ui-box-container">
    <form action="/search" class="ui-box-container">
      <input type="text" class="fm-text" name="q" placeholder="Search ..">
    </form>
  </div>
</div>

<div class="ui-box">
  <div class="ui-box-header">
    <h4>{{ _("Don't have an account?") }}</h4>
  </div>
  <div class="ui-box-container">
    <a href="/account/signup" class="ui-btn">{{ _("Signup") }}</a>
  </div>
</div>

{% end %}
