{% extends "base.html" %}
{% block subtitle %}
Idea -
{% end %}
{% block head %}
<link rel="stylesheet" href="{{ static_url('css/idea.css')}}" type="text/css" />
{% end %}
{% block content %}
<a href="/idea/new_idea" class="ui-btn">创建新Idea</a>


<div id='mn-body'>
<div class='clearfix' id='mn-body-block'>

<div id="mn-l">
<div id="ideas-index-inner">
<div class="index-ideas resizable" style="min-height: 271px; ">
<div class="row">

{% for idea in ideas %}

<!--这是一个模板-->
<div class="index-idea" ">
	<div class="head">
		<a href="/idea" ><img alt="图像名（替代时）" class="peop avatar delay-img" src="/static/img/missing.png" title="操蛋的图片名"></a>
		<div class="middle"> 
			<h2 class="title"><a href="/idea/{{ idea['iid'] }}" >{{ idea['title'] }}</a></h2>
			<div class="user">
				<a href="/users/链接用户" >{{ idea['author'] }}</a>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="desc">{{ idea['text'] }}</div>
	<img alt="New_zh-cn(替代时)" class="new_item" src="/static/img/new_zh-cn.png">
	<div class="info">
		<div class="label idea"><a href="/idea/{{ idea['iid'] }}" title="剩余小时">
			<img alt="评论数" class="status" onmouseout="this.src='/static/img/climbing-0.png'" onmouseover="this.src='/static/img/climbing-1.png'" src="/static/img/climbing-0.png" title="评论数"></a>
		</div><div class="label num">评论数</div>
		<div class="label num">{{ idea['click'] }}</div>
		<div class="label num">{{ handler.format_time(idea['date']) }}</div>
	</div>
</div>

{% end %}




</div>

</div>
</div>
</div>


<br>
</div></div>
测试结束
{% end %}
