{% extends "base.html" %}

{% block subtitle %}{{ topic['title'] }} | {% end %}

{% block head %}
<link rel="stylesheet" href="{{ static_url('css/pygments-style.css')}}" type="text/css" />
<style type="text/css">
#editor textarea {
width: 97%;
height: 100px;
}
</style>
{% end %}

{% block content %}
{% set author = handler.get_member(topic['author']) %}

<article class="hentry ui-box" data-id="{{ topic['tid'] }}">
  <div class="ui-box-header fn-clear">
    <h3 class="entry-title"><a href="/topic/{{ topic['tid'] }}">{{ topic['title'] }}</a></h3>
  </div>
  <div class="ui-box-container entry-content">
    {% raw topic['content_html'] %}
  </div>
  <div class="ui-box-footer fn-clear">
    <div class="entry-meta">
      创建: {{ handler.format_time(topic['create_time']) }} - 修改: {{ handler.format_time(topic['last_motified_time']) }}
    </div>
    {% if handler.is_admin() %}
    <div style="text-align: right;"><a href="/topic/{{ topic['tid'] }}/edit" title="编辑此主题">编辑</a></div>
    {% else %}
    {% if current_user == topic['author'] %}
    <div style="text-align: right;"><a href="/topic/{{ topic['tid'] }}/edit" title="编辑此主题">编辑</a></div>
    {% end %}
    {% end %}
  </div>
</article>

<div class="replies ui-box">
  <div class="ui-box-header">
    Last_reply at <time datetime="{{ handler.format_time(topic['last_reply_time']) }}">{{ handler.format_time(topic['last_reply_time']) }}</time> | {{ topic['reply_count'] }} replies
  </div>
  {% module ReplyListModule(replies) %}
</div>

<!-- Reply Editor -->
{% if current_user %}
<div class="ui-box">
  <form action="/topic/{{ topic['tid'] }}" class="ui-box-container" method="post">
    {% raw xsrf_form_html() %}
    <div id="editor">
      <div class="fm-item">
        <textarea name="content_md" class="fm-text" require></textarea>
      </div>
      <button type="submit" class="ui-btn">Post</button>
    </div>
  </form>
</div>
{% end %}
{% end %}

{% block sidebar %}
<div class="ui-box widget-user">
  <div class="ui-box-header primary fn-clear">
    <a href="/member/{{ author['username']}}" class="ui-avatar">
      <img src="{{ handler.get_avatar(author['email']) }}" width='48' height='48'>
    </a>
    <div class="user fn-wrap">
      <div class="username">
        <strong>{{ author['username'] }}</strong>
      </div>
      <div class="website">
        <a href="{{ author['website'] }}" rel="nofollow" target="_blank">{{ author['website']}}</a>
      </div>
  </div>
 </div>
  <div class="ui-box-footer">
    <a href="/member/{{ author['username'] }}" class="ui-btn">View Profile</a>
  </div>
</div>

<div class="widget-node ui-box">
<div class="ui-box-header" style=" background-color:#F9F0A8; color:#B52218; ">
{% set node = handler.get_node(topic['node']) %}
<h4>{{ node["node_title"] }}</h4>
</div>
<div class="ui-box-container">
  {{ node["description"]}}
</div>
<div class="ui-box-footer">
<a href="/node/{{ node['node_name'] }}" class="ui-btn">View</a>
<a href="/node/{{ node['node_name'] }}/create" class="ui-btn" rel="nofollow">Create</a>
</div>
</div>
{% end %}
